* {
    box-sizing: border-box;
    margin: 0;
}

body {
    padding: 0 1rem;
}


/* TEXT ELEMENTS */
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: navy;
}

h2 {
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: navy;
}

h3 {
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: black;
}

p, li {
    font-family:Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 350;
    line-height: 150%;
    text-wrap: balance;
    color: black;
}

a {
    display: block;
    font-family: monospace;
    font-weight: 600;
    text-decoration: none;
    color: black;
}


/* IMAGE */
img {
    width: 100%;
    height: auto;
    aspect-ratio: 1.5;
    object-fit: cover;

    border: 0.05rem solid dimgray;
}


/* HEADER */
header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-bottom: 0.05rem solid dimgray;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.5rem;

    margin-top: 0.5rem;
}


/* MAIN CONTENT */
main {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}



/* PROJECTS */
.projects-container {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    column-gap: 2rem;

    margin-top: 0.5rem;
}

