* {
    box-sizing: border-box;
    margin: 0;
}

body {
    padding: 0 1rem;
}


/* TEXT ELEMENTS */
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: navy;
}

h2 {
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: black;
}

p, li {
    font-family:Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 350;
    color: black;
}

a {
    display: block;
    font-family: monospace;
    font-weight: 600;
    text-decoration: none;
    color: black;
}


/* HEADER */
header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-bottom: 0.05rem solid dimgray;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.5rem;

    margin-top: 0.5rem;
}

