* {
    box-sizing: border-box;
    margin: 0;
}

body {
    padding: 0 1rem;
}


/* TEXT ELEMENTS */
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: navy;
}

h2 {
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: navy;
}

h3 {
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: black;
}

p, li {
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 350;
    line-height: 150%;
    text-wrap: pretty;
    color: black;
}

a {
    display: block;
    font-family: monospace;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: black;
}


/* IMAGE */
img {
    width: 100%;
    height: auto;
    aspect-ratio: 1.5;
    object-fit: cover;

    border: 0.05rem solid dimgray;
}


/* HEADER */
header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-bottom: 0.05rem solid dimgray;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.5rem;

    margin-top: 0.5rem;
}


/* MAIN CONTENT */
main {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}


/* INTRODUCTION */
#introduction .content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
    column-gap: 3rem;
}

#introduction .content p {
    max-width: 27.5rem;
}

#introduction .content img {
    aspect-ratio: 1;
    object-position: top;
}

.skills-and-edu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 1rem;

    margin-top: 1rem;
}

/* PROJECTS */
.projects-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;

    margin-top: 1.5rem;
}


/* MEDIA QUERIES */
@media (min-width: 35rem) { 
    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    header nav {
        margin-top: 0;
    } 
}

@media (min-width: 40rem) {
    body {
        padding: 0 3rem;
    }
    main {
        row-gap: 6rem;
    }
}


@media (min-width: 48rem) { 
    .projects-container {
        grid-template-columns: 1fr 1fr;
    }   
}


@media (min-width: 50rem) {
    #introduction .content {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}

@media (min-width: 64rem) { 
    body {
        padding: 0 6rem;
    }
}

@media (min-width: 90rem) {
    h2, h3, p, li {
        font-size: 1.5rem;
    }

    main {
        padding-top: 6rem;
        padding-bottom: 6rem;
        row-gap: 10rem;
    }

    #introduction .content p {
        max-width: 40.75rem;
    }

    .projects-container {
        gap: 2rem;
    } 
}

@media (min-width: 102rem) {
    .projects-container {
        grid-template-columns: 1fr 1fr 1fr;
    } 

    body {
        padding: 0 12rem;
    }
}